.about-container{
    margin-top: 7rem;
}

.about__section-image{
    margin-top: 5rem;
    padding: 5px;
    border: 1px solid var(--color-gray-100);
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}
.about__section-image:nth-child(2){
    transform: skew(-15deg);
}
.about__section-image:hover{
    transform: skew(0deg); 
}
.about__section-content h1{
    margin-bottom: 2rem;
}
.about__section-content p {
    margin-bottom: 1rem;
}
.about__story-container, .about__mision-content{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    margin-top: 7rem;
}
.about__vision-container{
    display: grid;
    grid-template-columns:  50% 40%;
    gap: 10%;
    margin-top: 7rem;
}
img{
    width: 400px;
}
/* media queries (medium screens) */
@media screen and (max-width: 1024px){
    .about__section-image{
        width: 60%;
        margin-inline: auto;

    }
    .about__section-content h1{
        margin-bottom: 1.2rem;
    }
    .about__story-container,
    .about__vision-container, 
    .about__mision-content{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about__vision
    .about__section-image{
        grid-row: 1;
    }
}

/* media queries (small screens) */
@media screen and (max-width: 600px){
    .about__section-image{
        width: 80%;
        margin-inline: auto;
    }
    .about__story-container,
    .about__vision-container, 
    .about__mision-content{
        gap: 2rem;
        

    }
}









